/* CSS styles */
.container {
    width: 100%;
    height: auto;
}
#searchbarform {
    display: grid;
    width: 400px;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.header {
    padding-left: 4px;
    padding-right: 4px;
    position: relative;
    text-align: right;
    height: 60px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-end;
    font-size: 12px;
    
}
.header-text {
    padding-top: 30px;
}
.header-img {
    padding-left: 4px;
    padding-right: 4px;
    position: relative;
    text-align: right;
    width: 30px;
}
a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.logo {
    display: block;
    margin: 0 auto;
    padding-top: 100px;
    
}
img {
    width: inherit;
    display: inherit;
    margin: inherit;

}
