/* CSS styles */
<style>
.header {
    display: flex;
    position: relative;
    text-align: right;

}
a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.logo {
    display: block;
    margin: 0 auto;
    
}
img {
    width: inherit;
    display: inherit;
    margin: inherit;

}

</style>