/* CSS styles */

.header {
    padding-left: 4px;
    padding-right: 4px;
    position: relative;
    text-align: right;
    height: 20px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 12px;
}
.header-img {
    padding-left: 4px;
    padding-right: 4px;
    position: relative;
    text-align: right;
    width: 30px;
}
a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.logo {
    display: block;
    margin: 0 auto;
    
}
img {
    width: inherit;
    display: inherit;
    margin: inherit;

}
